@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    /* colors */
    --primary600: 255 186 3;
    --primary800: 25 29 31;
    --primary900: 0 0 0;

    --secondary200: 243 243 242;
    --secondary400: 255 221 129;
    --secondary700: 186 184 184;
    --secondary800: 36 36 36;
    --secondary900: 47 47 47;

    --accent-blue: 28 186 166;
    --accent-red: 217 35 54;
    --accent-green: 126 156 61;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  /* fonts */
  @font-face {
    font-display: swap;
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 500;
    src: url("./assets/fonts/montserrat-v26-latin-500.woff2") format("woff2");
  }

  @font-face {
    font-display: swap;
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 600;
    src: url("./assets/fonts/montserrat-v26-latin-600.woff2") format("woff2");
  }

  @font-face {
    font-display: swap;
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 700;
    src: url("./assets/fonts/montserrat-v26-latin-700.woff2") format("woff2");
  }

  @font-face {
    font-display: swap;
    font-family: "Museo Slab";
    font-style: normal;
    font-weight: 900;
    src: url("./assets/fonts/museo-slab-latin-900.woff2") format("woff2");
  }

  /* base styles */
  html {
    font-family: "Montserrat", system-ui, sans-serif;
    font-weight: 500;
    background-color: #242424;
    color: white;
  }

  body {
    height: 100vh;
    overflow-x: hidden;
  }
}
